*{
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary:#cfaa86;
    --secondary:#6F7E8C;
    --box:#fff;
    --main:#333;
    --nav:#e2b980;
    --nava:#dcac6e;
}
body{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: burlywood;
}
/* Header */
.containerr{
    max-width: 960px;
    margin: 0 auto;
}
.header{
    background-color: var(--primary);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
#logo img{  
    max-width: 150px;
    height: auto;
    margin-left: 50px;
}
.main-menu{
    display: flex;
    list-style: none;
    margin-top: 40px;
    padding: 0;
    margin-left: 25px;
}
.main-menu li{
    position: relative;
}
.main-menu li a{
    text-decoration: none;
    color: var(--box);
    display: block;
    padding: 18px 20px;
}
/* Navigation */
.main-menu ul.sub-menu{
    position: absolute;
    background-color: var(--nav);
    margin-top: 8px;
    list-style: none;
    width: 200px;
    line-height: 25px;
    display: none;
}
.main-menu li:hover ul.sub-menu{
    display: block;
    z-index: 1;
}
.main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #fff;
}
.main-menu ul.sub-menu li:hover a{
    background-color: var(--nava);
}
.main-menu ul.sub-menu li:last-child a {
    border: none;
}
/* End navigation */
.main-menu>li>a{
    position: relative;
}
.main-menu>li>a::before{
    content: "";
    height: 1px;
    width: 0;
    background-color: var(--main);
    position: absolute;
    bottom: 1px;
    left: 0;
}
.main-menu>li:hover>a::before{
    width: 100%;
}
.search-container {
    margin-bottom: 40px;
    margin-left: 23px;
}
.search-container form {
    position: relative;
    width: 290px;
}
.search-container input[type=text] {
    width: 300px;
    padding: 13px;
    border: 1px solid #333;
    border-radius: 32px;
    box-sizing: border-box;
}
.search-container button {
    position: absolute;
    right: 0;
    top: 0 ;
    margin: 5px 6px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
}

.login_header{
    background-color: var(--primary);
    max-width: 50px;
    width: 100%;
    min-height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: 9px;
    margin-left: 46px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.cart_header{
    background-color: var(--primary);
    max-width: 50px;
    width: 100%;
    min-height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: 9px;
    margin-right:50px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.totalQuantity{
    position: absolute;
    top: 77px;
    right: 65px;
    font-size: x-large;
    background-color: rgb(227, 60, 60);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: var(--box);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}
.totalQuantity:hover{
    background-color: brown;
}
/* End header */

/* Đăng nhập */
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
}
.form{
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
h2{
    font-size: 25px;
    font-weight: 600;
    color:peru;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.field button{
    color: #fff;
    background-color: var(--primary);
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: var(--nava);
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color:peru;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}